<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.n1dispositivosmoveis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.N1DispositivosMoveis">
        <activity android:name=".TelaHis"
            android:label="@string/titulovazio"
            ></activity>
        <activity
            android:name=".TelaGNSS"
            android:exported="true"
            android:label="@string/titulovazio" />
        <activity
            android:name=".TelaNavegacao"
            android:exported="true"
            android:label="@string/titulovazio" />
        <activity
            android:name=".TelaCredito"
            android:exported="true"
            android:label="@string/tela_CreditoTitulo" />
        <activity
            android:name=".TelaConfig"
            android:label="@string/titulovazio" />
        <activity
            android:name=".MainActivity"
            android:label="@string/titulovazio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>